.navbar {
  &-section {
    width: calc(100vw - (250px + 5rem));
    height: 72px;
    background-color: #ffffff;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;

    @media screen and (max-width: 768px) {
      width: calc(100vw - 2.5rem);
    }

    .right-side {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 20px;

      .user-identity {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          display: block;
        }

        .user-icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #31B7FD;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          color: white;
        }

        .user-name {
          font-size: 16px;
          font-weight: 500;
          color: #111827;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        .user-email {
          font-size: 14px;
          color: #6B7280;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }

      .menu-list {
        padding: 12px;
        position: absolute;
        top: 3.5rem;
        right: 1rem;
        margin-top: 0.5rem;
        width: 12rem;
        background-color: #ffffff;
        border: 1px solid #e2e8f0;
        border-radius: 12px;
        box-shadow: 0 10px 15px -3px #bedbff, 0 4px 6px -4px #bedbff;
        color: #364153;
        z-index: 99;

        display: flex;
        flex-direction: column;

        .menu-item {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 8px 12px;
          border-radius: 8px;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            background-color: #f3f4f6;
          }
        }
      }
    }
  }

  &-logo {
    width: 200px;
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
