@use './dialog';
@use './utils';
@use './form';
@use './status';

:host {
  display: block;
  font-family: 'Poppins', sans-serif;
  color: #111;
}

h1, h2, h3, h4, h5, h6, p, span, div, a, button, input, textarea, select, label, table, th, td, ul, ol, li {
  font-family: 'Poppins', sans-serif !important;
}