.snackbar {
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  font-size: 12px;

  &-success {
    background-color: var(--color-success);
    color: white;
  }

  &-warning {
    background-color: var(--color-warning);
    color: white;
  }

  &-danger {
    background-color: var(--color-danger);
    color: white;
  }

  &-secondary {
    background-color: var(--color-text-light);
    color: var(--color-text);
  }
}

.mat-mdc-snack-bar-container,
.mat-mdc-snackbar-surface,
.mdc-snackbar__surface {
  border-radius: var(--radius-md) !important;
  box-shadow: var(--shadow-md) !important;
  font-family: "Inter", sans-serif !important;
}
