.status {
  &-loan {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: none;

    &.settled {
      background: #16a34a;
    }

    &.on_going {
      background: #f59e0b;
    }
  }

  &-transaction {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: none;

    &.debit {
      background: #dc2626;
    }

    &.credit {
      background: #16a34a;
    }

    &.loan_payment {
      background: #f59e0b;
    }
  }

  &-expenses {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: none;

    &.fixed {
      background: #50A2FF;
    }
  }

  &-payment {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: none;

    &.paid {
      background: #16a34a;
    }

    &.unpaid {
      background: #f59e0b;
    }

    &.overdue {
      background: #dc2626;
    }
  }
}
