.loan-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    max-height: 250px;
    overflow: auto;

    &>h3 {
      margin: 0px !important;
    }
  }

  .info-grid {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;

    label {
      font-size: 12px;
      color: #888;
    }

    p {
      margin: 0;
      font-weight: 500;
    }
  }

  .badge {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    color: white;

    &.badge-success {
      background: #16a34a;
    }

    &.badge-warning {
      background: #f59e0b;
    }

    &.badge-danger {
      background: #dc2626;
    }
  }
}
