<section class="container">
  <div class="login-container">
    <div class="login-logo">
      <img src="./assets/images/logo.png" alt="Financial Health Logo" />
    </div>

    <h3 class="login-title">{{ 'financial_health' | translate }}</h3>
    <p class="login-subtitle">{{ 'auth.desc' | translate }}</p>

    <div class="login-card">
      @if (successMessage) {
      <div class="login-card-message success">{{ successMessage }}</div>
      }
      <h3 class="login-card-title">
        {{ (action === 'login' ? 'auth.lbl_welcome' : 'auth.lbl_register_welcome') | translate}}
      </h3>
      <p class="login-card-subtitle">
        {{ (action == 'login' ? 'auth.lbl_subtitle' : 'auth.lbl_register_subtitle') | translate}}
      </p>

      <form class="login-card-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        @if (action === 'register') {
        <div class="form-group">
          <label class="form-label" for="fullname">{{ 'lbl_fullname' | translate }}</label>
          <input
            class="form-control"
            type="text"
            id="fullname"
            name="fullname"
            [(ngModel)]="authModel.fullname"
            placeholder="John Doe"
            required
          />
        </div>
        }
        <div class="form-group">
          <label class="form-label" for="email">{{ 'lbl_email' | translate }}</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            [(ngModel)]="authModel.email"
            placeholder="john_doe@email.com"
            required
            pattern="^[a-zA-Z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}$"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="password">{{ 'lbl_password' | translate }}</label>
          <div class="form-control-password">
            <input
              class="form-control"
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              [(ngModel)]="authModel.password"
              [placeholder]="'auth.plch_password' | translate"
              required
            />
            <div class="icon-password" (click)="togglePassword()">
              <img
                [src]="`./assets/svg/ic-eye-${showPassword ? 'close' : 'open'}.svg`"
                alt="Eye Icon"
              />
            </div>
          </div>
        </div>
        @if(loader()){
        <loader class="flex-justify-center" [visibility]="true"></loader>
        } @else {
        <button class="form-button" type="submit" [disabled]="loginForm.invalid || loader()">
          {{ (action === 'login' ? 'auth.button_submit' : 'auth.button_register') | translate }}
        </button>

        } @if (errorMessage) {
        <div class="form-error">
          <span>Failed: {{ errorMessage }}</span>
        </div>
        }
      </form>
      <div class="switch-or-option">
        <div class="divider"></div>
        <div class="switch-option-text">{{ 'lbl_or' | translate }}</div>
      </div>

      <div class="switch-container">
        @if (action === 'register') {
        <span class="switch-text"
          >{{ 'auth.register_title' | translate }}
          <a class="switch-action-text" (click)="switchAction('login')">{{ 'auth.login_now' | translate }}</a></span
        >
        } @else {
        <span class="switch-text"
          >{{ 'auth.register_title' | translate }}
          <a class="switch-action-text" (click)="switchAction('register')">{{ 'auth.register_now' | translate}}</a></span
        >
        }
      </div>
    </div>
  </div>
</section>
