.dashboard-section {
  @media screen and (max-width: 768px) {
    margin-bottom: 120px;
  }
}

.dashboard-container {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 10px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    max-width: 100vw;

    .card {
      width: unset;
    }
  }
}

.dashboard-title {
  border-bottom: 1px solid #ececec;
}

.dashboard-header {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  &>input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ececec;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #0b0b0b;
  }
}

.card {
  background: #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  &-loans {
    grid-area: loans;
  }

  &-remaining {
    grid-area: remaining;
  }

  &-expenses {
    grid-area: expenses;
  }

  &-outcome {
    grid-area: outcome;
  }

  &-income {
    grid-area: income;
  }
}

.filter-card-container {
  @media screen and (max-width: 768px) {
    flex-direction: column;
    max-width: 100vw;

    .card {
      width: unset;
    }
  }
}

.summary-card-container {
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-areas:
      "outcome income"
      "expenses expenses"
      "loans remaining";

    .card {
      width: unset;
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;

    mat-icon {
      color: #50A2FF;
    }

    a {
      font-size: 12px;
      color: #50A2FF;
      cursor: pointer;
      margin-top: -4px;
    }
  }
}
