.dashboard-section {
  @media screen and (max-width: 768px) {
    margin-bottom: 120px;
  }
}
.dashboard-container {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
  
  @media screen and (max-width: 768px) {
    flex-direction: column;
    max-width: 100vw;

    .card {
      width: unset;
    }
  }
}

.dashboard-header {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  &>input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ececec;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #0b0b0b;
  }
}

.card {
  background: #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.summary-card-container, .filter-card-container {
  @media screen and (max-width: 768px) {
    flex-direction: column;
    max-width: 100vw;

    .card{
      width: unset;
    }
  }
}