@use '@angular/material' as mat;
@import './styles/index';

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom right in oklab, #eff6ff 0%, #ecfeff 50%, #dbeafe 100%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
