<nav class="sidebar-section">
  <div class="identity">
    <img src="./assets/images/logo_vertical.png" alt="Financial Health Logo" />
    <!-- <div class="identity-initial">FH</div>
        <div class="identity-name">Financial Health</div> -->
  </div>
  <div class="divider"></div>

  <div class="menu-list">
    @for (item of sidebarList; track item) {
    <a class="menu-item" [routerLink]="item.route" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>{{ item.icon }}</mat-icon>
      <div class="menu-name">{{ item.title }}</div>
    </a>
    }
  </div>
</nav>

<nav class="sidebar-responsive">
  <div class="menu-list">
    @for (item of sidebarListResponsive; track item) {
    <a class="menu-item" [ngClass]="{'dashboard' : item.id === 1}" [routerLink]="item.route" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>{{ item.icon }}</mat-icon>
      <div class="menu-name">{{ item.title }}</div>
    </a>
    }
  </div>
</nav>