.content {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 1;
  padding: var(--space-lg);
  max-width: calc(100vw - (130px + 5rem));
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    padding: var(--space-md);
    max-width: 100%;
  }
}

.body-layout {
  width: 100%;
}
